<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="materialtest.vivz.slidenerd.materialtest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="materialtest.vivz.slidenerd.materialtest.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityWithSlidingTabLayout"
            android:label="@string/title_activity_activity_using_tab_library" >
        </activity>
        <activity
            android:name=".VectorTestActivity"
            android:label="@string/title_activity_vector_test" >
        </activity>
    </application>

</manifest>
